<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="Debug" fileName="log/debug.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] [%c] [%M] [%l] - %msg%n"/>
            <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
        </File>
        <File name="Console" fileName="log/console.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] [%c] [%M] [%l] - %msg%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration> 